<!-- ** User larni boshqarish page hisoblanadi **
 -->
<%- include('includes/header') %>
<body>
<div>USERS PAGE</div>
<div>
    <% users.map((value, key) => { %>
        <p><%= value.memberNick %> - <%= value.memberPhone %></p>
    <% }) %>
</div>
</body>

<%- include('includes/footer') %>
